[submodule "dependencies/CLI11"]
	path = dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "dependencies/detours/Detours"]
	path = dependencies/detours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
